.main-images-container{
  margin-top: 50px;
}

.fnt-roman{
  font-family: "Times New Roman", Times, serif;
}

.ibm{
  display: inline-block;
  vertical-align: middle;
}

.ibt{
  display: inline-block;
  vertical-align: top;
}
